<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412894726508-sajqmggfs76751729dku599gs1hsqibq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412894726508-sajqmggfs76751729dku599gs1hsqibq</string>
	<key>API_KEY</key>
	<string>AIzaSyDows8d9LC-uuxsPxx908VgpmE6eR-wIlY</string>
	<key>GCM_SENDER_ID</key>
	<string>412894726508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatStartingProject</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-79aca</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-79aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412894726508:ios:5137cf085c15ddb2124b49</string>
</dict>
</plist>